* @${{ values.githubOwner }}/app-team-${{ values.teamName }}
/.mise.toml @${{ values.githubOwner }}/pe-platform-admins
/.tool-versions @${{ values.githubOwner }}/pe-platform-admins
/mise.toml @${{ values.githubOwner }}/pe-platform-admins
/.github/ @${{ values.githubOwner }}/pe-platform-admins
/infra/ @${{ values.githubOwner }}/pe-platform-admins
/catalog-info.yaml @${{ values.githubOwner }}/pe-platform-admins @${{ values.githubOwner }}/app-team-${{ values.teamName }}
