* @edinc/app-team-${{ values.teamName }}
/.mise.toml @edinc/pe-platform-admins
/.tool-versions @edinc/pe-platform-admins
/mise.toml @edinc/pe-platform-admins
/.github/ @edinc/pe-platform-admins
/infra/ @edinc/pe-platform-admins
/catalog-info.yaml @edinc/pe-platform-admins @edinc/app-team-${{ values.teamName }}
